/* POPUPS */

.modal-content {
    position: relative;
    border-radius: 30px;
    background-color: #E8E8E8;
}

.modal-header {
    border-style: none;
    display: flex;
    flex-flow: column;
}

.modal-title {
    width: 100%;
    text-align: center;
    font-size: x-large;
    color: #505050;
}

#delete-user .modal-subtitle {
    width: 100%;
    text-align: center;
    font-size: medium;
    margin-top: 25px;
    color: #505050;
}

.modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    gap: 10px;
}

#delete-user .delete
 {
    border-radius: 50px;
    height: 30px;
    line-height: 17px;
    text-align: center;
    color: white;
}

#delete-user .delete {
    background-color: #C86660;
}

.modal-body {
    background-color: white;
    margin: 0px 15px;
    border-radius: 50px;
    text-align: center;
}

.modal-title {
    width: 100%;
    text-align: center;
    font-size: x-large;
    color: #505050;
}

#delete-user .modal-subtitle {
    width: 100%;
    text-align: center;
    font-size: medium;
    margin-top: 25px;
    color: #505050;
}

.modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    gap: 10px;
}

#delete-user .delete {
    background-color: #C86660;
}

.modal-body {
    background-color: white;
    margin: 0px 15px;
    border-radius: 50px;
    text-align: center;
}

#assign-label .btn.assign-label {
    position: absolute;
    right: 10px;
    background-color: #26C5B3;
    width: 80px;
}

#assign-label .btn.assign-label:hover {
    box-shadow: 0 0 10px rgb(0 0 0 / 25%), 0 0 10px rgb(0 0 0 / 25%);
}

button.btn.confirm,
button.btn.save  {
    background-color: #26C5B3 !important;
}

button.btn.cancel {
    background-color: #A5B0AF !important;
}

button.btn:hover {
    box-shadow: 0 0 10px rgb(0 0 0 / 25%), 0 0 10px rgb(0 0 0 / 25%) !important;
}

.all-users {
    overflow-y: scroll;
    height: 450px;
}

.usernames {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.invite {
    justify-content: space-between;
    margin-right: 10px;
}
