/*FROM USER*/

#user .user,
#user-edit .user,
#notifications .user {
    display: flex;
    flex-flow: row;
}

#notifications header span {
    font-size: xx-large;
    font-weight: bold;
}

#user .userInfo,
#user-edit .userInfo,
#notifications .notifications-info {
    z-index: 10;
    display: flex;
    box-sizing: inherit;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 30px auto;
    width: 100%;
}

#user .info,
#user-edit .info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 3% auto;
}

#user .profilePhoto {
    width: 150px;
    height: 150px;
    background-color: #62D2C5;
    border: 0px;
    border-radius: 100%;
}

#user-edit .user-icon .profilePhoto {
    width: 150px;
    height: 150px;
    background-color: #62D2C5;
    border: 0px;
    border-radius: 100%;
}

#user .writtenInfo,
#user-edit .writtenInfo {
    margin-top: 30px;
    width: 350px;
}

#user form section {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

#user .full,
#user .full1,
#user-edit section div {
    display: flex;
    flex-flow: column;
}

#user .full1 {
    margin-top: 10px;
}

#user label,
#user-edit label {
    text-align: left;
    color: #949494;
    font-size: small;
}

#user input {
    color: #383838;
    background-color: #F2FEFD;
    border-radius: 9px;
    border-color: transparent;
    height: 40px;
    font-size: medium;
    padding: 0 10px;
}

#user-edit input {
    color: #383838;
    background-color: #F2FEFD;
    border-radius: 9px;
    border: transparent;
    height: 40px;
    font-size: medium;
    padding: 0 10px;
    margin-bottom: 10px;
}

#user .full input {
    width: 170px;
}

#user .full1 input {
    position: relative;
    width: 100%;
}

.writtenInfo input:focus {
    outline-color: #C0F2EC;
}

#user .editIcon {
    float: right;
    width: 10%;
    cursor: pointer;
    margin-top: 10px;
}

#user-edit .eye {
    position: relative;
}

#user-edit i {
    position: absolute;
    cursor: pointer;
    top: 13px;
    right: 12px;
    opacity: 60%;
}

#user-edit .user-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#user-edit .editIconBlue {
    position: absolute;
    width: 25%;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

#user-edit .submitEdit {
    position: relative;
    margin-right: auto;
    margin-top: 10px;
    display: flex;
    flex-flow: column;
}

#user-edit .editButtons {
    display: flex;
    flex-flow: row;
    gap: 10px;
}

#user-edit .save {
    all: unset;
    border-radius: 40px;
    border: 1px solid #C0F2EC;
    width: 70px;
    height: 30px;
    text-align: center;
    color: white;
    cursor: pointer;
}

#user-edit .save:hover {
    background-color: #26C5B3;
}

#user-edit .editButtons .cancel {
    all: unset;
    line-height: 30px;
    text-align: center;
    border-radius: 40px;
    border: 1px solid #C0F2EC;
    width: 70px;
    height: 30px;
    color: white;
    cursor: pointer;
}

#user-edit #error {
    margin-bottom: 20px;
    display: none;
    font-size: small;
    color: red;
}

#photo .modal-body {
    background-color: transparent;
}

#photo .options {
    display: flex;
    gap: 90px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#photo .colors {
    margin-top: 30px;
}

#photo .colors input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

#photo .colors input:checked+label {
    box-shadow: 0 0 10px rgb(0 0 0 / 25%), 0 0 10px rgb(0 0 0 / 25%);
}

#photo .colors label {
    display: inline-block;
    padding: 40px 40px;
    border-radius: 10px;
    cursor: pointer;
}

#photo .colors label.yellow {
    background-color: #F9DF83;
}

#photo .colors label.red {
    background-color: #A3DA89;
}

#photo .colors label.blue {
    background-color: #62D2C5;
}

#photo .colors label.pink {
    background-color: #DB8CA8;
}

#photo .upload {
    color: black;
    background-color: #F2FEFD;
    border: 2px solid black;
    border-color: #C0F2EC;
    border-radius: 10px;
}

#notifications .notification {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: start;
}

#notifications .content {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#notifications .square {
    background-color: rgba(219, 140, 168, 1);
    width: 65px;
    height: 48px;
    border-top: 10px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px 4px 4px rgb(0 0 0 / 25%), 0px 4px 4px rgb(0 0 0 / 25%), 0px 4px 4px rgb(0 0 0 / 25%);
    margin: 0px 15px;
}

#notifications article.notification {
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px 4px 4px rgb(0 0 0 / 25%);
    height: 80px;
    width: 55%;
    margin-bottom: 25px;
    margin-left: 5px;
}

#notifications .accept {
    background: #26C5B3;
    border: unset;
    border-radius: 20px;
    color: white;
    font-size: 12px;
    padding: 0px 10px;
}

#notifications .not-buttons {
    position: absolute;
    right: 10px;
    bottom: 6px;
    display: flex;
    align-items: center;
    gap: 5px;
}

#notifications .cancel {
    cursor: pointer;
    background: #C86660;
    border-radius: 20px;
    color: white;
    font-size: 12px;
    padding: 0px 8px;
}

#notifications .not-content {
    color: black;
    font-size: 15px;
}


/* Admin */

#admin {
    display: grid;
    grid-template-columns: 165px auto;
    grid-template-rows: 50px 95%;
}

#admin .search-container {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    ;
    margin-right: 30px;
}

#admin .users-display {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    gap: 20px
}

#admin .user .block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 150px;
    background-color: #26c5b373;
    border-radius: 20px;
}

#admin .user .unblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 150px;
    background-color: #C8666073;
    border-radius: 20px;
}

#admin .user .data {
    display: flex;
    align-items: center;
}

#admin .user img {
    border-radius: 50%;
    margin: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#admin .user a {
    width: auto;
    color: black;
}

#admin .buttons button {
    background-color: #A5B0AF;
    border-radius: 20px;
    color: white;
    font-size: large;
    font-weight: bold;
    width: 100px;
}


/* Blocked */

#blocked {
    margin-top: 1em;
}

#blocked .title {
    position: absolute;
    text-align: center;
    top: 15%;
    font-size: 700%;
    width: 100%;
    font-weight: 700;
}

#blocked .line {
    margin-top: 1em;
    margin-left: 0em;
    background-color: #a1a1a1;
    height: 6px;
}

#blocked .grid {
    display: flex;
    justify-content: center;
}

#blocked .grid-container {
    width: 800px;
    display: grid;
    position: relative;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
}

#blocked a.item-azul {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: center;
    margin-right: -1rem;
    margin-left: -1rem;
}

#blocked a.item-verde {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    text-align: center;
    margin-right: -1rem;
    margin-left: -1rem;
}

#blocked a.item-amarelo {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: center;
    margin-right: -1rem;
    margin-left: -1rem;
}

#blocked a.item-rosa {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    text-align: center;
    margin-right: -1rem;
    margin-left: -1rem;
}

#blocked img {
    width: 60%;
    height: auto;
}

#blocked .text {
    line-height: normal;
    font-size: 1.4vw;
    text-align: center;
    background-color: #dedede;
    border-radius: 20px;
    margin: 0.5em 3em 0.5em 3em;
    padding: 1.5em 1rem 1.5em 1rem;
}