openapi: 3.0.0
info:
  version: 1.0.0-oas3
  title: LBAW toEaseManage Web AP
  description: Web Resources Specification (A7) for toEaseManage
servers:
  - url: http://lbaw.fe.up.pt
    description: Production server
tags:
  - name: 'M01: Authentication and Individual Profile'
  - name: 'M02: Project'
  - name: 'M03: Tasks and Comments'
  - name: 'M04: Project Forum and Labels'
  - name: 'M05: Invites and Notifications'
  - name: 'M06: Administration'
  - name: 'M07: Static Pages'
paths:
  /login:
    get:
      operationId: R101
      summary: 'R101: Login Form'
      description: 'Provide login form. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: OK. Show Log-in UI
    post:
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
              required:
                - email
                - password
      responses:
        '302':
          description: Redirect after processing the login credentials.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: Successfull authentication. Redirect to user profile
                  value: /users/{id}
                302Error:
                  description: Failed authentication. Redirect to login form.
                  value: /login
  /logout:
    get:
      operationId: R103
      summary: 'R103: Logout Action'
      description: 'Logout the current authenticated user. Access: AUTH_USR'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '302':
          description: Redirect after processing logout.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: Successful logout. Redirect to login form.
                  value: /login
  /register:
    get:
      operationId: R104
      summary: 'R104: Register Form'
      description: 'Provide new user registration form. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: OK. Show Sign-Up UI
    post:
      operationId: R105
      summary: 'R105: Register Action'
      description: 'Processes the register form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                password:
                  type: string
                image:
                  type: string
                  format: binary
              required:
                - email
                - password
                - name
      responses:
        '302':
          description: Redirect after processing the new user information.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: Successfull registration. Redirect to login page
                  value: /login
                302Error:
                  description: Failed registration. Redirect to register form.
                  value: /register
  /users:
    get:
      operationId: R106
      summary: 'R106: View user page'
      description: 'Show the authenticated user page. Access: AUTH_USR'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: Ok. Show User Page UI
  /users/{id}:
    delete:
      operationId: R107
      summary: 'R107: Delete user'
      description: 'Delete user from service. Access: ADMIN, OWN'
      tags:
        - 'M01: Authentication and Individual Profile'
        - 'M06: Administration'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: Ok. User deleted
  /users/{id}/profile/:
    get:
      operationId: R108
      summary: 'R108: View user profile '
      description: 'Show the individual user profile page. Access: AUTH_USR'
      tags:
        - 'M01: Authentication and Individual Profile'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: OK. Show User Profile UI
  /users/{id}/update:
    get:
      operationId: R109
      summary: 'R109: User edit profile Form '
      description: 'Show the individual user edit profile page. Access: OWN'
      tags:
        - 'M01: Authentication and Individual Profile'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: OK. Show User Profile UI
    post:
      operationId: R110
      summary: 'R110: Edit user profile'
      description: 'Edit individual user page. Access: OWN'
      tags:
        - 'M01: Authentication and Individual Profile'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                image:
                  type: string
                  format: binary
      responses:
        '200':
          description: Ok. User updated.
  /recoverPassword:
    get:
      operationId: R111
      summary: 'R111: Recover password Form'
      description: 'Provide recover password form. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: OK. Show recover password UI
    post:
      operationId: R112
      summary: 'R112: Recover password Action'
      description: 'Processes the recover password form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
              required:
                - email
      responses:
        '302':
          description: Redirect after processing the recover password.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: Recover email sent. Redirect to login
                  value: /login
                302Error:
                  description: Failed authentication. Redirect to login form.
                  value: /recoverPassword
  /resetPassword:
    get:
      operationId: R113
      summary: 'R113: Reset password Form'
      description: 'Provide reset password form. Access: AUTH_USR'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: OK. Show reset password UI
    post:
      operationId: R114
      summary: 'R114: Reset password Action'
      description: 'Processes the reset password form submission. Access: AUTH_USR'
      tags:
        - 'M01: Authentication and Individual Profile'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
              required:
                - email
                - password
      responses:
        '302':
          description: Redirect after processing the reset password.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: Password reseted. Redirect to login
                  value: /login
                302Error:
                  description: Failed authentication. Redirect to home page.
                  value: /
  /api/users:
    post:
      operationId: R115
      summary: 'R115: Search Users API'
      description: 'Searches for users and returns the results as JSON. Access: AUTH_USR.'
      tags:
        - 'M01: Authentication and Individual Profile'
      parameters:
        - in: query
          name: search_string
          description: String to use for full-text search
          schema:
            type: string
          required: false
        - in: query
          name: inProject
          description: Id of the project participating
          schema:
            type: integer
          required: false
        - in: query
          name: notInProject
          description: Id of the project users don't participate
          schema:
            type: integer
          required: false
        - in: query
          name: member
          description: Boolean with the membership flag value
          schema:
            type: boolean
          required: false
        - in: query
          name: coordinator
          description: Boolean with the coordinator flag value
          schema:
            type: boolean
          required: false
        - in: query
          name: blocked
          description: Boolean with the blocked flag value
          schema:
            type: boolean
          required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    email:
                      type: string
                    password:
                      type: string
                    name:
                      type: string
                    image_path:
                      type: string
                    blocked:
                      type: string
                example:
                  - id: 1
                    email: mferries0@yellowpages.com
                    password: t6AyMFhWp
                    name: Mahalia Ferries
                    image_path: ./img/default
                    blocked: false
  /api/users/{id}/uploadImage:
    post:
      operationId: R116
      summary: 'R116: Upload User Image '
      description: 'Upload an user image and returns the results as JSON. Access: AUTH_USR.'
      tags:
        - 'M01: Authentication and Individual Profile'
      parameters:
        - in: path
          name: id
          description: id of the user
          schema:
            type: integer
          required: true
        - in: query
          name: image
          description: Image to be uploaded
          schema:
            type: Blob
          required: false
        - in: query
          name: color
          description: Image color to be uploaded
          schema:
            type: string
          required: false
      responses:
        '200':
          description: Success
  
  /api/projects:
    get:
      operationId: R201
      summary: 'R201: Search Projects API'
      description: 'Searches for projects and returns the results as JSON. Access: AUTH_USR.'
      tags:
        - 'M02: Project'
      parameters:
        - in: query
          name: user_id
          description: Id of the user
          schema:
            type: integer
          required: false
        - in: query
          name: search_string
          description: String to use for full-text search
          schema:
            type: string
          required: false
        - in: query
          name: order
          description: String with the ordering atribute(alph/date)
          schema:
            type: string
          required: false
        - in: query
          name: favourite
          description: Boolean with the favourite flag value
          schema:
            type: boolean
          required: false
        - in: query
          name: coordinator
          description: Boolean with the coordinator flag value
          schema:
            type: boolean
          required: false
        - in: query
          name: member
          description: Boolean with the member flag value
          schema:
            type: boolean
          required: false
        - in: query
          name: archived
          description: Boolean with the archived flag value
          schema:
            type: boolean
          required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    description:
                      type: string
                    color:
                      type: string
                    created_at:
                      type: string
                    archived_at:
                      type: string
                example:
                  - id: 5
                    name: e-enable scalable technologies
                    description: sagittis dui vel nisl duis ac nibh fusce lacus purus
                    color: '#3fbcdd'
                    created_at: '2020-01-24'
                    archived_at: null
  /projects:
    get:
      operationId: R202
      summary: 'R202: Project creation Form'
      description: 'Provide project creation form. Access: AUTH_USR'
      tags:
        - 'M02: Project'
      responses:
        '200':
          description: OK. Show project creation UI
    post:
      operationId: R203
      summary: 'R203: Create Project'
      description: 'Processe the project creation form submission. Access: AUTH_USR'
      tags:
        - 'M02: Project'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                color:
                  type: string
              required:
                - name
      responses:
        '302':
          description: Redirect after processing the project creation form.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: Successfull creation. Redirect to project page
                  value: /projects/{id}
                302Error:
                  description: Failed creation. Redirect to login form.
                  value: /users/{id}
  /projects/{id}:
    get:
      operationId: R204
      summary: 'R204: View project page'
      description: 'Show the individual project page. Access: MEMB, COOR'
      tags:
        - 'M02: Project'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: Ok. Show Project Page UI
    delete:
      operationId: R205
      summary: 'R205: Delete project'
      description: 'Delete project from service. Access: COOR, ADMIN'
      tags:
        - 'M02: Project'
        - 'M06: Administration'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: Ok. Project deleted
  /projects/{id}/details:
    get:
      operationId: R206
      summary: 'R206: View project details page'
      description: 'Show the individual project details page. Access: MEMB, COOR'
      tags:
        - 'M02: Project'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: Ok. Show Project details page UI
  /projects/{id}/edit/:
    get:
      operationId: R207
      summary: 'R207: Project edit Form '
      description: 'Show the individual project edit page. Access: COOR'
      tags:
        - 'M02: Project'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: OK. Show Project Update UI
    post:
      operationId: R208
      summary: 'R208: Edit project page'
      description: 'Edit individual project page. Access: COOR'
      tags:
        - 'M02: Project'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                color:
                  type: string
                archived_at:
                  type: string
      responses:
        '200':
          description: Ok. Project updated.
  /api/projects/addCoordinator:
    post:
      operationId: R209
      summary: 'R209: Add coordinator'
      description: 'Add new coordinator to project. Access: COOR'
      tags:
        - 'M02: Project'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id_user:
                  type: integer
                id_project:
                  type: integer
              required:
                - id_user
                - id_project
      responses:
        '302':
          description: Redirect after adding coordinator.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: Successfull added. Redirect to project page
                  value: /project/{id}/details
                302Error:
                  description: Failed add. Redirect to project page.
                  value: /project/{id}/details
  /api/projects/{id}/favourite:
    post:
      operationId: R210
      summary: 'R210: Modify favourite project'
      description: 'Modify favourite project. Access: MEMB, COOR'
      tags:
        - 'M02: Project'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: Redirect after favourite coordinator.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: Successfull favourite. Redirect to project page
                  value: /users
                302Error:
                  description: Failed favourite. Redirect to project page.
                  value: /users
  /api/projects/{id}/decreaseParticipation:
    delete:
      operationId: R211
      summary: 'R211: Decreases the participation role project'
      description: 'Leave project. Access: MEMB, COOR'
      tags:
        - 'M02: Project'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: Redirect after leave project.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: Successfull decrease participation. Redirect to user page
                  value: /users
                302Error:
                  description: Failed decrease participation. Redirect to user page.
                  value: /users 
  /api/projects/{id}/archive:
    post:
      operationId: R212
      summary: 'R212: Archive project'
      description: 'Archive project. Access: COOR'
      tags:
        - 'M02: Project'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: Redirect after archive coordinator.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: Successfull Archive. Redirect to project page
                  value: /users
                302Error:
                  description: Failed Archive. Redirect to project page.
                  value: /users
  
  /api/tasks:
    get:
      operationId: R301
      summary: 'R301: Search Tasks API'
      description: 'Searches for tasks and returns the results as JSON. Access: AUTH_USR.'
      tags:
        - 'M03: Tasks and Comments'
      parameters:
        - in: query
          name: project_id
          description: Id of the project
          schema:
            type: integer
          required: false
        - in: query
          name: user_id
          description: Id of the user
          schema:
            type: integer
          required: false
        - in: query
          name: search_string
          description: String to use for full-text search
          schema:
            type: string
          required: false
        - in: query
          name: finished
          description: Boolean with the finished flag value
          schema:
            type: boolean
          required: true
        - in: query
          name: priority
          description: Integer with the priority value
          schema:
            type: integer
          required: false
        - in: query
          name: order
          description: String with the ordering atribute
          schema:
            type: string
          required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    description:
                      type: string
                    priority:
                      type: string
                    created_at:
                      type: string
                    finished_at:
                      type: string
                    task_number:
                      type: integer
                    due_date:
                      type: string
                    id_project:
                      type: integer
                    id_user:
                      type: integer
                example:
                  - id: 2
                    name: Persevering radical time-frame
                    description: null
                    priority: 3
                    created_at: '2018-11-20'
                    finished_at: null
                    task_number: 0
                    due_date: null
                    id_project: 2
                    id_user: 2
  /projects/{project_id}/tasks:
    get:
      operationId: R302
      summary: 'R302: Task creation Form'
      description: 'Provide task creation form. Access: MEMB, COOR'
      tags:
        - 'M03: Tasks and Comments'
      parameters:
        - in: path
          name: project_id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: OK. Show task creation UI
  /tasks:
    post:
      operationId: R303
      summary: 'R303: Create Task'
      description: 'Processe the task creation form submission. Access: MEMB, COOR'
      tags:
        - 'M03: Tasks and Comments'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                priority:
                  type: integer
                due_date:
                  type: string
                id_project:
                  type: integer
                id_user:
                  type: integer
              required:
                - name
                - id_project
      responses:
        '302':
          description: Redirect after processing the task creation form.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: Successfull creation. Redirect to task page
                  value: /tasks/{id}
                302Error:
                  description: Failed creation. Redirect to project form.
                  value: /projects/{id}
  /tasks/{id}:
    get:
      operationId: R304
      summary: 'R304: View task page'
      description: 'Show the individual task page. Access: MEMB, COOR'
      tags:
        - 'M03: Tasks and Comments'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: Ok. Show Task Page UI
  /tasks/{id}/edit:
    get:
      operationId: R305
      summary: 'R305: Task edit Form '
      description: 'Show the individual task edit page. Access: MEMB,COOR'
      tags:
        - 'M03: Tasks and Comments'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: OK. Show Task Update UI
    post:
      operationId: R306
      summary: 'R306: Edit task page'
      description: 'Edit individual task page. Access: COOR, MEMB'
      tags:
        - 'M03: Tasks and Comments'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                priority:
                  type: integer
                finished_at:
                  type: string
                due_date:
                  type: string
                id_user:
                  type: integer
      responses:
        '200':
          description: Ok. Task updated.
  /tasks/{id}/complete:
    post:
      operationId: R307
      summary: 'R307: Complete task'
      description: 'Complete task. Access: MEMB, COOR'
      tags:
        - 'M03: Project'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                today:
                  type: string
              required:
                - today
      responses:
        '302':
          description: Redirect after Complete task.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: Successfull complete. Redirect to task page
                  value: /tasks/{id}
                302Error:
                  description: Failed complete. Redirect to task page.
                  value: /tasks/{id}
  /tasks/{id}/clone:
    post:
      operationId: R308
      summary: 'R308: Clone task'
      description: 'Clone task. Access: MEMB, COOR'
      tags:
        - 'M03: Project'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: Redirect after Clone task.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: Successfull complete. Redirect to cloned task page
                  value: /tasks/{id}
                302Error:
                  description: Failed complete. Redirect to cloned user page page.
                  value: /users
  /comments:
    post:
      operationId: R309
      summary: 'R309: Create comment'
      description: 'Processe the comment creation form submission. Access: MEMB, COOR'
      tags:
        - 'M03: Tasks and Comments'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                content:
                  type: string
                id_task:
                  type: integer
                id_user:
                  type: integer
              required:
                - content
                - id_task
                - id_user
      responses:
        '302':
          description: Redirect after processing the task creation form.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: Successfull creation. Redirect to task page
                  value: /tasks/{id}
                302Error:
                  description: Failed creation. Redirect to task form.
                  value: /tasks/{id}
  /comments/{id}:
    post:
      operationId: R310
      summary: 'R310: Edit task comment'
      description: 'Edit individual task comment. Access: OWN'
      tags:
        - 'M03: Tasks and Comments'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                content:
                  type: string
      responses:
        '200':
          description: Ok. Task comment updated.
    delete:
      operationId: R311
      summary: 'R311: Delete task comment'
      description: 'Delete task comment from service. Access: OWN, ADMIN'
      tags:
        - 'M03: Tasks and Comments'
        - 'M06: Administration'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: Ok. Comment deleted

  /tasks/assign:
    post:
      operationId: R401
      summary: 'R401: Assign label to task'
      description: 'Processe the label assignment to task submission. Access: MEMB, COOR'
      tags:
        - 'M04: Project Forum and Labels'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id_task:
                  type: integer
                id_label:
                  type: integer
              required:
                - id_task
                - id_label
      responses:
        '302':
          description: Redirect after processing the label assignment.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: Successfull assigned. Redirect to task page
                  value: /tasks/{id}
                302Error:
                  description: Failed assignment. Redirect to task form.
                  value: /tasks/{id}
  /tasks/labels/{id}:
    delete:
      operationId: R402
      summary: 'R402: Delete label assignment'
      description: 'Delete label assignment from service. Access: COOR, MEMB'
      tags:
        - 'M04: Project Forum and Labels'
      parameters: 
        - in: path
          name: id
          description: id of the label
          schema:
            type: string
          required: true
        - in: query
          name: id_task
          description: Id of the task
          schema:
            type: integer
          required: false
      responses:
        '200':
          description: Ok. Label assignment deleted.
  /api/labels:
    get:
      operationId: R403
      summary: 'R403: Search Labels API'
      description: 'Searches for Labels and returns the results as JSON. Access: AUTH_USR.'
      tags:
        - 'M04: Project Forum and Labels'
      parameters:
        - in: query
          name: project_id
          description: Id of the project
          schema:
            type: integer
          required: true
        - in: query
          name: name
          description: Name of the label
          schema:
            type: string
          required: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    id_project:
                      type: integer
                example:
                  - id: 4
                    content: Epoxy Flooring
                    id_project: 4
  /labels:
    post:
      operationId: R404
      summary: 'R404: Create label'
      description: 'Processe the label creation form submission. Access: MEMB, COOR'
      tags:
        - 'M04: Project Forum and Labels'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                id_project:
                  type: integer
              required:
                - name
                - id_project
      responses:
        '302':
          description: Redirect after processing the label creation form.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: Successfull creation. Redirect to project page
                  value: /projects/{id}
                302Error:
                  description: Failed creation. Redirect to project form.
                  value: /projects/{id}
  /labels/{id}:
    delete:
      operationId: R405
      summary: 'R405: Delete label'
      description: 'Delete label from service. Access: COOR, ADMIN'
      tags:
        - 'M04: Project Forum and Labels'
        - 'M06: Administration'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: Ok. Label deleted
  /messages:
    post:
      operationId: R406
      summary: '406: Create message'
      description: 'Processe the message creation form submission. Access: MEMB, COOR'
      tags:
        - 'M04: Project Forum and Labels'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                content:
                  type: string
                id_project:
                  type: integer
                id_user:
                  type: integer
              required:
                - content
                - id_project
                - id_user
      responses:
        '302':
          description: Redirect after processing the message creation form.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: Successfull creation. Redirect to project page
                  value: /project/{id}
                302Error:
                  description: Failed creation. Redirect to project form.
                  value: /project/{id}
  /messages/{id}:
    post:
      operationId: R407
      summary: 'R407: Edit forum message'
      description: 'Edit individual forum message. Access: OWN'
      tags:
        - 'M04: Project Forum and Labels'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                content:
                  type: string
      responses:
        '200':
          description: Ok. Task message updated.
    delete:
      operationId: R408
      summary: 'R408: Delete Forum message'
      description: 'Delete forum message from service. Access: OWN, ADMIN'
      tags:
        - 'M04: Project Forum and Labels'
        - 'M06: Administration'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: Ok. Message deleted

  /api/invites/search:
    post:
      operationId: R501
      summary: 'R501: Search Invites API'
      description: 'Searches for Invites and returns the results as JSON. Access: AUTH_USR.'
      tags:
        - 'M05: Invites and Notifications'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id_project:
                  type: integer
                id_user:
                  type: integer
              required:
                - id_project
                - id_user
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    created_at:
                      type: string
                    id_user:
                      type: integer
                    id_project:
                      type: integer
                example:
                  - id: 1
                    content: '2020-03-12'
                    id_user: 21
                    id_project: 1
  /api/invites/:
    post:
      operationId: R502
      summary: 'R502: Create invite'
      description: 'Processe the invite creation submission. Access: COOR'
      tags:
        - 'M05: Invites and Notifications'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id_user:
                  type: integer
                id_project:
                  type: integer
              required:
                - id_user
                - id_project
      responses:
        '302':
          description: Redirect after processing the invite creation.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: Successfull creation. Redirect to project page
                  value: /projects/{id}
                302Error:
                  description: Failed creation. Redirect to project page.
                  value: /projects/{id}
  /api/invites/{id}/accept:
    post:
      operationId: R503
      summary: 'R503: Accept invite'
      description: 'Accept invite of user. Access: OWN'
      tags:
        - 'M05: Invites and Notifications'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: Redirect after accepting the invite.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: Successfull accept. Redirect to project page
                  value: /projects/{id}
                302Error:
                  description: Failed accept. Redirect to user page.
                  value: /users/{id}
  /api/invites/{id}/:
    delete:
      operationId: R504
      summary: 'R504: Delete invite'
      description: 'Delete invite of user. Access: OWN'
      tags:
        - 'M05: Invites and Notifications'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: Redirect after Delete the invite.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: Successfull Delete. Redirect to user page
                  value: /users/{id}/profile
                302Error:
                  description: Failed Delete. Redirect to user page.
                  value: /users/{id}/profile
  /users/{id}/notifications:
    get:
      operationId: R505
      summary: 'R505: Shows the user Notifications page'
      description: "Shows the if user notifactions. Access: AUTH_USR."
      tags:
        - 'M05: Invites and Notifications'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: Ok. Show user notifications Page UI
  /users/{id}/notifications:
    post:
      operationId: R506
      summary: 'R506: See notification'
      description: 'See notification. Access: OWN'
      tags:
        - 'M05: Invites and Notifications'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
        - in: query
          name: notification_id
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: Redirect after see the invite.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: Successfull seen. Redirect to project page
                  value: /projects/{id}
                302Error:
                  description: Failed seen. Redirect to user page.
                  value: /users/{id}
 
  /admin:
    get:
      operationId: R601
      summary: 'R601: Admin users page'
      description: 'Provide admin users page. Access: ADMIN'
      tags:
        - 'M06: Administration'
      responses:
        '200':
          description: OK. Show admin page UI
  /admin/projects:
    get:
      operationId: R602
      summary: 'R602: Admin projects page'
      description: 'Provide admin projects page. Access: ADMIN'
      tags:
        - 'M06: Administration'
      responses:
        '200':
          description: OK. Show admin page UI
  /api/block/{user_id}:
    post:
      operationId: R603
      summary: 'R603: Block User'
      description: 'Block user of the webservice. Access: ADMIN'
      tags:
        - 'M06: Administration'
      parameters:
        - in: path
          name: user_id
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: Redirect after blocking user.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: Successfull blocked. Redirect to admin page
                  value: /admin
                302Error:
                  description: Failed block. Redirect to admin page.
                  value: /admin
  /:
    get:
      operationId: R701
      summary: 'R701: Home page'
      description: 'Provide home page. Access: PUB'
      tags:
        - 'M07: Static Pages'
      responses:
        '200':
          description: OK. Show home page UI
  /about:
    get:
      operationId: R702
      summary: 'R702: About page'
      description: 'Provide about page. Access: PUB'
      tags:
        - 'M07: Static Pages'
      responses:
        '200':
          description: OK. Show about page UI
  /contact:
    get:
      operationId: R703
      summary: 'R703: Contact page'
      description: 'Provide contact page. Access: PUB'
      tags:
        - 'M07: Static Pages'
      responses:
        '200':
          description: OK. Show contact page UI
    post:
      operationId: R704
      summary: 'R704: Submit contact form'
      description: 'Provide contact page. Access: PUB'
      tags:
        - 'M07: Static Pages'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                name:
                  type: string
                text:
                  type: string
              required:
                - email
                - name
                - text
      responses:
        '302':
          description: Redirect after submit contact.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: Successfull submit. Redirect to home page
                  value: /
                302Error:
                  description: Failed submit. Redirect to contact page.
                  value: /contact
  /service:
    get:
      operationId: R705
      summary: 'R705: Service page'
      description: 'Provide service page. Access: PUB'
      tags:
        - 'M07: Static Pages'
      responses:
        '200':
          description: OK. Show service page UI
  /404:
    get:
      operationId: R706
      summary: 'R706: Errro page'
      description: 'Provide erro page. Access: PUB'
      tags:
        - 'M07: Static Pages'
      responses:
        '200':
          description: OK. Show erro page UI
  /blocked:
    get:
      operationId: R707
      summary: 'R707: Blocked page'
      description: 'Provide blocked page. Access: PUB'
      tags:
        - 'M07: Static Pages'
      responses:
        '200':
          description: OK. Show blocked page UI
  /contact/sendEmail:
    post:
      operationId: R708
      summary: 'R708: Send Project'
      description: 'Processe the email form submission. Access: Pub'
      tags:
        - 'M07: Static Pages'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                message:
                  type: string
              required:
                - name
                - email
                - message
      responses:
        '302':
          description: Redirect after processing the email send form.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: Successfull send. Redirect to project page
                  value: /
                302Error:
                  description: Failed sent. Redirect to login form.
                  value: /