openapi: '3.0.0'
info:
  version: '1.0'
  title: LBAW toEaseManage Web AP
  description: Web Resources Specification (A7) for toEaseManage

servers:
- url: http://lbaw.fe.up.pt
  description: Production server

tags:
 - name: 'M01: Authentication and Individual Profile'
 - name: 'M02: Project'
 - name: 'M03: Tasks, Comments and Labels'
 - name: 'M04: Forum'
 - name: 'M05: Invites and Notifications'
 - name: 'M06: Administration'
 - name: 'M07: Static Pages'

paths:
  /login:
    get:
      operationId: R101
      summary: 'R101: Login Form'
      description: 'Provide login form. Access: PUB'
      tags:
       - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: OK. Show Log-in UI

    post:
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
       - 'M01: Authentication and Individual Profile'
      requestBody:
        required: true
        content:
         application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              email:
                type: string
              password:
                type: string
            required:
              - email
              - password
      responses:
        '302':
          description: Redirect after processing the login credentials.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successfull authentication. Redirect to user profile'
                  value: '/users/{id}'
                302Error:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'

  /logout:
    post:
      operationId: R103
      summary: 'R103: Logout Action'
      description: 'Logout the current authenticated user. Access: AUTH_USR'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '302':
          description: 'Redirect after processing logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful logout. Redirect to login form.'
                  value: '/login'

  /register:
    get:
      operationId: R104
      summary: 'R104: Register Form'
      description: "Provide new user registration form"
      tags:
       - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'OK. Show Sign-Up UI'

    post:
      operationId: R105
      summary: 'R105: Register Action'
      description: 'Processes the register form submission. Access: PUB'
      tags:
       - 'M01: Authentication and Individual Profile'
      requestBody:
        required: true
        content:
         application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              name: 
                type: string
              email:
                type: string
              password:
                type: string
              image: 
                type: string
                format: binary
            required:
              - email
              - password
              - name
      responses:
        '302':
          description: Redirect after processing the new user information.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successfull registration. Redirect to login page'
                  value: '/login'
                302Error:
                  description: 'Failed registration. Redirect to register form.'
                  value: '/register'

  /users/profile/{id}:
    get:
      operationId: R106
      summary: 'R106: View user profile '
      description: "Show the individual user profile page. Access: AUTH_USR"
      tags:
       - 'M01: Authentication and Individual Profile'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'OK. Show User Profile UI'

  /users/{id}:
    get:
      operationId: R107
      summary: 'R107: View user page'
      description: 'Show the individual user page. Access: AUTH_USR'
      tags:
        - 'M01: Authentication and Individual Profile'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Show User Page UI'

  /api/projects:
    get:
      operationId: R201
      summary: 'R201: Search Projects API'
      description: 'Searches for projects and returns the results as JSON. Access: MEMB,COOR.'

      tags:
        - 'M02: Project'

      parameters:
        - in: query
          name: search_string
          description: String to use for full-text search
          schema:
            type: string
          required: false
        - in: query
          name: order
          description: String with the ordering atribute(alph/date)
          schema:
            type: string
          required: false
        - in: query
          name: favourite
          description: Boolean with the favourite flag value
          schema:
            type: boolean
          required: false
        - in: query
          name: coordinator
          description: Boolean with the coordinator flag value
          schema:
            type: boolean
          required: false
        - in: query
          name: member
          description: Boolean with the member flag value
          schema:
            type: boolean
          required: false
        - in: query
          name: archived
          description: Boolean with the archived flag value
          schema:
            type: boolean
          required: false
        
        
        
      responses:
       '200':
         description: Success
         content:
           application/json:
             schema:
               type: array
               items:
                 type: object
                 properties:
                   id:
                     type: integer
                   name:
                     type: string
                   description:
                     type: string
                   color:
                     type: string
                   created_at:
                     type: string
                   archived_at:
                     type: string
               example:
                 - id: 5
                   name: e-enable scalable technologies
                   description: sagittis dui vel nisl duis ac nibh fusce lacus purus
                   color: '#3fbcdd'
                   created_at: '2020-01-24'
                   archived_at: NULL
