openapi: '3.0.0'
info:
  version: '1.0'
  title: LBAW toEaseManage Web AP
  description: Web Resources Specification (A7) for toEaseManage

servers:
- url: http://lbaw.fe.up.pt
  description: Production server

tags:
 - name: 'M01: Authentication and Individual Profile'
 - name: 'M02: Project'
 - name: 'M03: Tasks, Comments and Labels'
 - name: 'M04: Forum'
 - name: 'M05: Invites and Notifications'
 - name: 'M06: Administration'
 - name: 'M07: Static Pages'

paths:

# ------------------------- USER ------------------------- 
  /login:
    get:
      operationId: R101
      summary: 'R101: Login Form'
      description: 'Provide login form. Access: PUB'
      tags:
       - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: OK. Show Log-in UI

    post:
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
       - 'M01: Authentication and Individual Profile'
      requestBody:
        required: true
        content:
         application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              email:
                type: string
              password:
                type: string
            required:
              - email
              - password
      responses:
        '302':
          description: Redirect after processing the login credentials.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successfull authentication. Redirect to user profile'
                  value: '/users/{id}'
                302Error:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'

  /logout:
    post:
      operationId: R103
      summary: 'R103: Logout Action'
      description: 'Logout the current authenticated user. Access: AUTH_USR'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '302':
          description: 'Redirect after processing logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful logout. Redirect to login form.'
                  value: '/login'

  /register:
    get:
      operationId: R104
      summary: 'R104: Register Form'
      description: "Provide new user registration form"
      tags:
       - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'OK. Show Sign-Up UI'

    post:
      operationId: R105
      summary: 'R105: Register Action'
      description: 'Processes the register form submission. Access: PUB'
      tags:
       - 'M01: Authentication and Individual Profile'
      requestBody:
        required: true
        content:
         application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              name: 
                type: string
              email:
                type: string
              password:
                type: string
              image: 
                type: string
                format: binary
            required:
              - email
              - password
              - name
      responses:
        '302':
          description: Redirect after processing the new user information.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successfull registration. Redirect to login page'
                  value: '/login'
                302Error:
                  description: 'Failed registration. Redirect to register form.'
                  value: '/register'

  /users/{id}:
    get:
      operationId: R106
      summary: 'R106: View user page'
      description: 'Show the individual user page. Access: AUTH_USR'
      tags:
        - 'M01: Authentication and Individual Profile'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Show User Page UI'

    patch:
      operationId: R107
      summary: 'R107: Edit user page'
      description: 'Edit individual user page. Access: OWN'
      tags:
        - 'M01: Authentication and Individual Profile'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
         application/x-www-form-urlencoded:
          schema:
            type: object
            properties: 
              name:
                type: string
              image: 
                type: string
                format: binary
      responses:
        '200':
          description: 'Ok. User updated.'

    delete:
      operationId: R601
      summary: 'R601: Delete user'
      description: 'Delete user from service. Access: ADMIN'
      tags:
        - 'M06: User Administration'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. User deleted'
  
  /users/profile/{id}:
    get:
      operationId: R108
      summary: 'R108: View user profile '
      description: "Show the individual user profile page. Access: AUTH_USR"
      tags:
       - 'M01: Authentication and Individual Profile'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'OK. Show User Profile UI'
  
  /users/edit/{id}: #??
    get:
      operationId: R109
      summary: 'R109: User edit profile Form '
      description: "Show the individual user edit profile page. Access: OWN"
      tags:
       - 'M01: Authentication and Individual Profile'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'OK. Show User Profile UI'

  /recoverPassword:
    get:
      operationId: R110
      summary: 'R110: Recover password Form'
      description: 'Provide recover password form. Access: PUB'
      tags:
       - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: OK. Show recover password UI

    post:
      operationId: R111
      summary: 'R111: Recover password Action'
      description: 'Processes the recover password form submission. Access: PUB'
      tags:
       - 'M01: Authentication and Individual Profile'
      requestBody:
        required: true
        content:
         application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              email:
                type: string
            required:
              - email
      responses:
        '302':
          description: Redirect after processing the recover password.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Recover email sent. Redirect to login'
                  value: '/login'
                302Error:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/recoverPassword'

  /resetPassword:
    get:
      operationId: R112
      summary: 'R112: Reset password Form'
      description: 'Provide reset password form. Access: AUTH_USR'
      tags:
       - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: OK. Show reset password UI

    post:
      operationId: R113
      summary: 'R113: Reset password Action'
      description: 'Processes the reset password form submission. Access: AUTH_USR'
      tags:
       - 'M01: Authentication and Individual Profile'
      requestBody:
        required: true
        content:
         application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              email:
                type: string
              password:
                type: string
            required:
              - email
              - password
      responses:
        '302':
          description: Redirect after processing the reset password.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Password reseted. Redirect to login'
                  value: '/login'
                302Error:
                  description: 'Failed authentication. Redirect to home page.'
                  value: '/'

  /api/users:
    get:
      operationId: R113
      summary: 'R113: Search Users API'
      description: 'Searches for users and returns the results as JSON. Access: AUTH_USR.'
      tags:
        - 'M01: Authentication and Individual Profile'
      parameters:
        - in: query
          name: search_string
          description: String to use for full-text search
          schema:
            type: string
          required: false
        - in: query
          name: project_id
          description: Id of the project participating
          schema:
            type: integer
          required: false
        - in: query
          name: member
          description: Boolean with the membership flag value
          schema:
            type: boolean
          required: false
        - in: query
          name: coordinator
          description: Boolean with the coordinator flag value
          schema:
            type: boolean
          required: false
        - in: query
          name: blocked
          description: Boolean with the blocked flag value
          schema:
            type: boolean
          required: false
      responses:
       '200':
         description: Success
         content:
           application/json:
             schema:
               type: array
               items:
                 type: object
                 properties:
                   id:
                     type: integer
                   email:
                     type: string
                   password:
                     type: string
                   name:
                     type: string
                   image_path:
                     type: string
                   blocked:
                     type: string
               example:
                 - id: 1
                   email: mferries0@yellowpages.com
                   password: 't6AyMFhWp'
                   name: Mahalia Ferries
                   image_path: './img/default'
                   blocked: FALSE

# ------------------------- PROJECTS ------------------------- 
  /api/projects:
    get:
      operationId: R201
      summary: 'R201: Search Projects API'
      description: 'Searches for projects and returns the results as JSON. Access: AUTH_USR.'
      tags:
        - 'M02: Project'
      parameters:
        - in: query
          name: user_id
          description: Id of the user
          schema:
            type: integer
          required: false
        - in: query
          name: search_string
          description: String to use for full-text search
          schema:
            type: string
          required: false
        - in: query
          name: order
          description: String with the ordering atribute(alph/date)
          schema:
            type: string
          required: false
        - in: query
          name: favourite
          description: Boolean with the favourite flag value
          schema:
            type: boolean
          required: false
        - in: query
          name: coordinator
          description: Boolean with the coordinator flag value
          schema:
            type: boolean
          required: false
        - in: query
          name: member
          description: Boolean with the member flag value
          schema:
            type: boolean
          required: false
        - in: query
          name: archived
          description: Boolean with the archived flag value
          schema:
            type: boolean
          required: false
      responses:
       '200':
         description: Success
         content:
           application/json:
             schema:
               type: array
               items:
                 type: object
                 properties:
                   id:
                     type: integer
                   name:
                     type: string
                   description:
                     type: string
                   color:
                     type: string
                   created_at:
                     type: string
                   archived_at:
                     type: string
               example:
                 - id: 5
                   name: e-enable scalable technologies
                   description: sagittis dui vel nisl duis ac nibh fusce lacus purus
                   color: '#3fbcdd'
                   created_at: '2020-01-24'
                   archived_at: NULL

  /projects:
    get:
      operationId: R202
      summary: 'R202: Project creation Form'
      description: 'Provide project creation form. Access: AUTH_USR'
      tags:
       - 'M02: Project'
      responses:
        '200':
          description: OK. Show project creation UI

    post:
      operationId: R203
      summary: 'R203: Create Project'
      description: 'Processe the project creation form submission. Access: AUTH_USR'
      tags:
       - 'M02: Project'
      requestBody:
        required: true
        content:
         application/x-www-form-urlencoded:
          schema:
            type: object
            properties:
              name:
                type: string
              description:
                type: string
              color: 
                type: string
            required:
              - name
      responses:
        '302':
          description: Redirect after processing the project creation form.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successfull creation. Redirect to project page'
                  value: '/projects/{id}'
                302Error:
                  description: 'Failed creation. Redirect to login form.'
                  value: '/users/{id}'

  /projects/{id}:
    get:
      operationId: R204
      summary: 'R204: View project page'
      description: 'Show the individual project page. Access: MEMB, COOR'
      tags:
        - 'M02: Project'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Show Project Page UI'

    patch:
      operationId: R205
      summary: 'R205: Edit project page'
      description: 'Edit individual project page. Access: COOR'
      tags:
        - 'M02: Project'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
         application/x-www-form-urlencoded:
          schema:
            type: object
            properties: 
              name:
                type: string
              description: 
                type: string
              color: 
                type: string
              archived_at: 
                type: string
      responses:
        '200':
          description: 'Ok. Project updated.'

    delete:
      operationId: R206
      summary: 'R206: Delete project'
      description: 'Delete project from service. Access: COOR, ADMIN'
      tags:
        - 'M02: Project'
        - 'M06: User Administration'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Project deleted'

  /projects/edit/{id}: #??
    get:
      operationId: R207
      summary: 'R109: Project edit Form '
      description: "Show the individual project edit page. Access: COOR"
      tags:
        - 'M02: Project'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'OK. Show Project Profile UI'
# ------------------------- TASKS ------------------------- 


#M01: Authentication and Individual Profile
  #login DONE
  #logout DONE
  #sign up DONE
  #profile editing DONE
  #password retrieval DONE
  #get edite profile page DONE
  #access to personal information. DONE
#M02: Project
  #create DONE
  #delete DONE
  #view DONE
  #edit DONE
  #search projects DONE 
  #GET project team DONE
#M03: Tasks, Comments and Labels
  #add tasks
  #edit tasks 
  #search task
  #add comment (to tasks)
  #edit comment
  #delete comment
  #creat lables
  #delete lable
  #search lables
  #remove lable from task (taskLabel)
  #add lable to task (taskLabel)
#M04: Forum
  #create message
  #list messages
  #edit message
  #delete message
#M05: Invites and Notifications
  #create invite
  #list invite
  #accept invite
  #reject invite
  #(delete invite) don't know if necessary
  #view notification
  #list notifications
#M06: User Administration
  #view users
  #view projects DONE
  #search users
  #search projects DONE
  #block users
  #delete users DONE
  #editing account information for all users NOT A FEATURE I THINK ????
  #View system access details for each user ????
#M07: Static Pages
  #static content 
    #home page
    #about
    #contact
    #services
